body {
    text-align: center;
}

h1,
h2,
h3,
.score,
.time {
	font-family: "Arial", Verdana, sans-serif;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	color: #b22222;
	margin: 20px auto 10px;
}

h2 {
	font-size: 20px;
	text-align: center;
	max-width: 505px;
	margin: 0 auto;
}

audio {
	display: none;
}

.container {
	width: 505px;
	margin: 0 auto;
	display: -webkit-flex;
    display: flex;
 }

.score {
	font-weight: bold;
	font-size: 18px;
	width: 200px;
	text-align: left;
}

.pause-container {
	width: 52.5px;
	text-align: center;
}

.sound-container {
	width: 52.5px;
	text-align: center;
}

.fa {
	cursor: pointer;
}

.fa-times {
	color: red;
}

.time {
	font-weight: bold;
	font-size: 18px;
	width: 200px;
	text-align: right;
}

#actualscore {
	color: red;
}

#actualtime {
	color: green;
}

.play {
	background-color: #5cbf2a;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: "Verdana", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 25px;
	text-decoration: none;
}
.play:hover {
	background-color:#44c767;
}
.play:active {
	position:relative;
	top:1px;
}

#warning {
	padding-top: 40px;
}

#rules {
	list-style: none;
	padding: 0;
}

.rule {
	/*text-align: left;*/
}

.legend-image {
	width: 40px;
}

.legend-text {
	vertical-align: 12px;
	padding-left: 5px;
}
